{% extends 'base.html' %} {% include 'partials/sidebar.html' %} {% block content %}
<header>
    <menu>
        <li><a href="{{ url_for('signout') }}">Sign out</a></li>
    </menu>
</header>
<main>
    <div class="card">
        <div class="accounts">
            <h2>Accounts</h2>
            <div class="account-item">
            {% for account in accounts %}
             <div class="item">
                <p><a href="{{ url_for('get_item', id=account['id']) }}">{{ account['name'] }}</a></p>
                <sub>{{ account['category'] }}</sub>
            </div>
            <menu>
                <li><a href="{{ url_for('edit_item', id=account['id'])}}">Update</a></li>
                <li><a href="{{ url_for('delete_item', id=account['id'])}}">Remove</a></li>
            </menu>
            {% endfor %}
        </div>
        <div class="add-item">
            <a href="{{ url_for('add_note') }}">Add Item</a>
        </div>
    </div>
</main>
{% endblock %}
