{% extends 'base.html' %}
{% block content %}
{% include 'partials/sidebar.html' %}
<header>
   <menu>
       <li><a href="{{ url_for('signout')}}">sign out</a></li>
   </menu>
</header>
<main>
  <div class="card">
    <div class="account">
        <h2>Account</h2>
        <div class="account-item">
            <p>Name: {{ account['name'] }}</p>
            <p>Date added: {{ account['date_added'] }}</p>
            <p>E-mail: {{ account['email'] }}</p>
            <p>Password: {{ account['password'] }}</p>
            {% if account['category'] == 'Bill' %}
                <p>Category: {{ account['category'] }}</p>
                <p>Amount: {{ account['amount'] }}</p>
                <p>Due date: {{ account['due_date'] }}</p>
                <p>Priority: {{ account['priority'] }}</p>
                <p>Autopay: {% if account['autopay'] %} Yes {% else %} No {% endif %}</p>
                <p>Category: {{ account['category'] }}</p>
            {% else %}
              <p>Category: {{ account['category'] }}</p>
            {% endif %}
            <p>Account note: {{ account['account_note'] }}</p>
        </div>
    </div>
  </div>
</main>
{% endblock %}
