{% extends 'base.html' %} {% block content %} {% include 'partials/sidebar.html'
%}
<header>
    <menu>
        <li><a href="{{ url_for('signout')}}">Sign out </a></li>
    </menu>
</header>
<main>
    <div id="password-generator">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <h2>Password Generator</h2>
            <input
                type="number"
                name="password-length"
                placeholder="Password length"
                required
            />
            <select name="character-type">
                <option value="alphanumeric">Alphanumeric</option>
                <option value="strong">
                    Alphanumeric with special characters
                </option>
                <option value="numbers">Numbers</option>
                <option value="letters">Letters</option>
            </select>
            <div id="clipboard">
                <i class="fa-regular fa-copy"></i>
                <input
                    type="text"
                    name="generated-password"
                    id="password-value"
                    value="{% if user_password %}{{ user_password }}{% endif %}"
                />
            </div>
            <input type="submit" value="Generate password" />
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %}
            <span class="flash-{{category}}">{{ message }}</span>
            {% endfor %} {% endif %} {% endwith %}
        </form>
    </div>
</main>
{% endblock %}
