{% extends 'base.html' %} {% block content %}
<div id="container">
    <div class="left-column">
        <header>
            <img
                src="{{ url_for('static', filename='images/logo.svg') }}"
                alt="Logo image"
            />
            <h2>Guard Dog</h2>
        </header>
        <div id="features">
            <h2>Online Password Manager</h2>
            <p>Save passwords, account details and important notes</p>
            <div class="features">
                <img
                    src="{{ url_for('static',filename='images/lock-solid.svg')}}"
                    alt="Image of a lock"
                />
                <p>Secure passwords</p>
            </div>
            <div class="features">
                <img
                    src="{{ url_for('static',filename='images/notes.svg')}}"
                    alt=""
                />
                <p>Save notes</p>
            </div>
        </div>
    </div>
    <div class="content">
        <main>
            <div id="signout-card">
               <h2>You are Signed Out</h2>
               <p>See you again soon</p>
               <a href="{{ url_for('signin')}}" id="signin">Sign in</>
            </div>
        </main>
    </div>
</div>
{% endblock %}
